    <div class="widget-wrap widget-list">
        <h3 class="widget-title">团队简介</h3>
        <div class="widget">
            <p>
            SEF是Small Front End的缩写。
            <br>
            Small表示我们一群新人的面貌。
            <br>
            我们是一群想搞事情的前端新人。
            </p>
        </div>
    </div>
