    <div class="widget-wrap widget-list">
        <h3 class="widget-title">二维码</h3>
        <div class="widget">
            <img class="qrcode" src="/css/images/qrcode.jpg" width="130" alt="关注我们的微信公众号">
            <img class="qrcode-group" src="/css/images/group.jpeg" width="130" height="130" alt="关注加入我们的微信群">
        </div>
    </div>